<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<div>
    <h3>Welcome in the Łódź gui microservice</h3>

    <p class="lead">

    <h4>Apply for loan</h4>

    <form role="form">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="client.name">
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="Surname" ng-model="client.surname">
        </div>
        <div class="form-group">
            <label for="surname">Age</label>
            <input type="text" class="form-control" id="age" placeholder="Age" ng-model="client.age">
        </div>
        <div class="form-group">
            <label for="job">Job Position</label>
            <select id="job" class="form-control" ng-model="client.job">
                <option value="IT">IT</option>
                <option value="Finance">Financial Sector</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" placeholder="Amount" ng-model="client.amount">
        </div>
        <button type="button" class="btn btn-primary" ng-click="getLoan()">Get Money!</button>
    </form>

    <hr/>

    <div class="well">
        Your application status is: {{status}}
        The special offer you were waiting for is: {{offer}}
    </div>


</div>